<%- include('template/header', {tituloPag: "INICIO" }); %>
        <%- include('template/aside'); %>
                <div class="container-fluid">
                        <main class="container">
                                <div class="row mb-2">
                                        <div class="col-md-12">
                                                <div
                                                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative contenido">
                                                        <div
                                                                class="col p-4 d-flex flex-column position-static bg-light">
                                                                <h3 class="mb-0">MANTENIMIENTO</h3><br>
                                                                <p class="card-text mb-auto">Personal
                                                                        capacitado con Equipo especializado para
                                                                        realizar el mantenimiento, actualizacion y
                                                                        limpieza de su ordenador,
                                                                        para que pueda extender de manera garantizada la
                                                                        vida util de su equipo de computo.</p>
                                                                <a href="#"
                                                                        class="icon-link gap-1 icon-link-hover stretched-link">
                                                                        <svg class="bi">
                                                                                <use xlink:href="#chevron-right" />
                                                                        </svg>
                                                                </a>
                                                        </div>
                                                        <div class="col-auto d-none d-lg-block">
                                                                <img src="images/limpieza-interior-pc-3.jpg"
                                                                        alt="mantenimiento" width="300" height="250">
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="row mb-2">
                                        <div class="col-md-12">
                                                <div
                                                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                                        <div class="col-auto d-none d-lg-block">
                                                                <img src="images/6.jpg" alt="reparacion" width="300"
                                                                        height="250">
                                                        </div>
                                                        <div
                                                                class="col p-4 d-flex flex-column position-static bg-light">
                                                                <h3 class="mb-0">REPARACIÓN</h3>
                                                                <br>
                                                                <p class="mb-auto">Lorem ipsum dolor, sit amet
                                                                        consectetur adipisicing elit. A tempora illo,
                                                                        eos error iusto blanditiis architecto fugit
                                                                        repellat hic numquam repellendus reprehenderit
                                                                        et deleniti quidem quo amet ea ex dolorem?</p>
                                                                <a href="#"
                                                                        class="icon-link gap-1 icon-link-hover stretched-link">
                                                                        <svg class="bi">
                                                                                <use xlink:href="#chevron-right" />
                                                                        </svg>
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="row mb-2">
                                        <div class="col-md-12">
                                                <div
                                                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative contenido">
                                                        <div
                                                                class="col p-4 d-flex flex-column position-static bg-light">
                                                                <h3 class="mb-0">ASESORIA</h3>
                                                                <br>
                                                                <p class="card-text mb-auto">Lorem ipsum dolor, sit amet
                                                                        consectetur adipisicing elit. Labore
                                                                        exercitationem ipsa veniam animi id, quia
                                                                        voluptate. Optio fugit aliquid at molestiae eum
                                                                        ad, unde ducimus tenetur vero magnam quisquam
                                                                        et.</p>
                                                                <a href="#"
                                                                        class="icon-link gap-1 icon-link-hover stretched-link">
                                                                        <svg class="bi">
                                                                                <use xlink:href="#chevron-right" />
                                                                        </svg>
                                                                </a>
                                                        </div>
                                                        <div class="col-auto d-none d-lg-block">
                                                                <img src="images/hardware-principiantes.jpg"
                                                                        alt="asesoria" width="300" height="250">
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </main>
                </div>
                <%- include('template/footer'); %>