<%- include('../usuarios/template/userHeader', {tituloPagUs: "USERS - MANT" }); %>
<%- include('../usuarios/template/userAside') %>
    <h1>Mant Users</h1>
<%- include('../usuarios/template/userfooter'); %>