<%- include('../usuarios/template/userHeader', {tituloPagUs: "USERS - REP" }); %>
<%- include('../usuarios/template/userAside') %>
    <h1>Repara Users</h1>
<%- include('../usuarios/template/userfooter'); %>