<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark rounded-bottom-3" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
        </svg>
        <span class="fs-4">Usuarios</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a href="/usuariosmyr/usersMant" class="nav-link text-white" id="mantenimiento" name="mantenimiento">
                Mantenimiento
            </a>
        </li>
        <li>
            <a href="" class="nav-link text-white">
                Reparacion
            </a>
        </li>
        <li>
            <a href="" class="nav-link text-white">
                Asesoria
            </a>
        </li>
        <li>
            <a href="" class="nav-link text-white">
                Contacto
            </a>
        </li>
        <input type="hidden" id="paginaDestino">
    </ul>
    <hr>
</div>
<script>

</script>