        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <div class="d-flex justify-content-end" style="height: auto;">
            <div class="col-1 align-self-end">
                <a href="/api" class="btn btn-primary">sponsors</a>
            </div>
        </div>
    </body>
</html>